<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Plebia - Social sharing for media content</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/static/css/all.css"> 
    <link type="text/css" rel="stylesheet" href="http://freebaselibs.com/static/suggest/1.3/suggest.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/dist/video-js.css"> 
    <link type="text/css" rel="stylesheet" href="/static/css/dist/video-js-vim.css"> 
    <link type="text/css" href="/static/css/dist/jquery-ui-le-frog/jquery-ui-1.8.14.custom.css" rel="stylesheet" />

    <!-- JS -->
    <script type="text/javascript" src="/static/js/dist/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/dist/jquery.query-2.1.7.js"></script>
    <script type="text/javascript" src="/static/js/dist/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="http://freebaselibs.com/static/suggest/1.3/suggest.min.js"></script>
    <script type="text/javascript" src="/static/js/dist/video.js" charset="utf-8"></script> 
    <script type="text/javascript" src="/static/js/jquery.plebia.js"></script> 
    <script type="text/javascript" src="/static/js/tests/skin.js"></script> 

    <script>
        $(document).ready(function() {
            var skin = $.query.get('skin');
            if(skin !== '') {
                $.plebia.skin(skin, $('.plebia'));
            } else {
                setTimeout(function () {
                    $('.plebia').plebia();
                }, 0);
            }
        });
    </script>

</head>

<body> 
    <div class="plebia">
        <div class="plebia_updates">
            <b>Last updates (Thu Aug 12th):</b><br />
            <ul>
                <li>Improved finding of torrents (now retreives full seasons too)</li>
            </ul>
        </div>
        <div class="plebia_new_post">
            <form action="/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Add" />
                <div class="clear_both"></div>
            </form>
        </div>

        <p>To add/upload a video to the stream, fill the form right on top. <br /><b>Warning</b>: videos can only be watched with Chromium/Chrome for now.</p>

        <h2>Stream</h2>

        <div class="plebia_post_templates">

            <div class="plebia_post plebia_post_new plebia_post_update">
                <input type="hidden" class="plebia_post_api_id" value="" />
                <input type="hidden" class="plebia_episode_api_id" value="" />
                <input type="hidden" class="plebia_season_api_id" value="" />
                <input type="hidden" class="plebia_series_api_id" value="" />
                <input type="hidden" class="plebia_torrent_api_id" value="" />
                <input type="hidden" class="plebia_video_api_id" value="" />
                <img src="/static/img/avatar.jpg" class="plebia_user_avatar" />
                <div class="plebia_user_name">Xavier Antoviaque</div> -
                <div class="plebia_post_time"></div>
                <div class="plebia_post_title"></div>
                <div class="plebia_post_content"></div>
                <div class="plebia_next_episode">
                    <form action="/" method="post">
                        {% csrf_token %}
                        <input class="plebia_name" type="hidden" name="name" value="" />
                        <input class="plebia_season_nb" type="hidden" name="season" value="" />
                        <input class="plebia_episode_nb" type="hidden" name="episode" value="" />
                        <a href="javascript://">Next episode >></a>
                        <div class="clear_both"></div>
                    </form>
                </div>
            </div>

            <div class="plebia_post_content_states">

                <div class="plebia_post_searching">
                    Searching for video...
                </div>

                <div class="plebia_post_downloading">
                    <div class="plebia_torrent_progress_info">
                        <span class="plebia_torrent_status">Video found! Initializing download... (takes 30-90 seconds)</span>
                        <span class="plebia_torrent_progress">
                            (<span class="plebia_torrent_progress_percent">{{ torrent.progress }}</span>% done)
                        </span>
                        &nbsp;<img src="/static/img/loading.gif" class="plebia_loading_icon" />
                    </div>
                    <div class="plebia_torrent_progress_bar" data="{{ torrent.progress }}"></div>
                </div>
                
                <div class="plebia_post_transcoding_not_ready">
                    Video downloaded. Transcoding...
                </div>
                
                <div class="plebia_post_transcoding_ready">
                    <div class="video-js-box vim-css"> 
                        <video class="video-js" width="640" height="360" controls="controls" preload="auto" poster=""> 
                            <source src="/static/stream.php?file_path={{ video.webm_path }}" type='video/webm; codecs="vp8, vorbis"' />
                        </video> 
                        <p class="vjs-no-video"><strong>Download Video:</strong> 
                            <a href="/downloads/{{ video.webm_path }}">WebM</a>
                        </p> 
                    </div> 
                    <div class="plebia_video_transcoding_in_progress"><img src="/static/img/loading.gif" /> This video is still being converted. You will only be able to pause, resume or move it forward/backward when this is completed (takes ~10-30 minutes in total).</div>
                    <div class="plebia_video_transcoding_done"><img src="/static/img/ok.png" /> Video conversion done! <a href="javascript://">Refresh</a> the video if you need to pause, resume or move it forward/backward.</div>
                </div>
                
                <div class="plebia_post_all_ready">
                    <div class="video-js-box vim-css"> 
                        <video class="video-js" width="640" height="360" controls="controls" preload="none" poster=""> 
                            <source src="/downloads/{{ video.webm_path }}" type='video/webm; codecs="vp8, vorbis"' />
                        </video> 
                        <p class="vjs-no-video"><strong>Download Video:</strong> 
                            <a href="/downloads/{{ video.webm_path }}">WebM</a>
                        </p> 
                    </div> 
                </div>
                
                <div class="plebia_post_error">
                    <div class="plebia_torrent_not_found">
                        <img src="/static/img/monster.jpg" class="plebia_monster_icon" />
                        <div class="plebia_torrent_not_found_msg">I'm sorry, I couldn't find your video : (<br />But try to enter another one, I'll go get it! :D</div>
                    </div>
                </div>

            </div>

        </div>

        <div class="plebia_stream"></div>

        <div class="plebia_footer">
            Media server powered by
            <a href="http://plebia.org/">plebia</a>
            (with the help of
            <a href="http://videojs.com">video.js</a>,
            <a href="http://deluge-torrent.org/">deluge</a>,
            <a href="http://www.ffmpeg.org/">ffmpeg</a> and
            <a href="https://www.djangoproject.com/">django</a>)
        </div>
      
    </body>
</html>
