<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Plebia - Social sharing for media content</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/static/css/all.css"> 
    <link type="text/css" rel="stylesheet" href="/static/css/dist/video-js.css"> 
    <link type="text/css" rel="stylesheet" href="/static/css/dist/video-js-vim.css"> 
    <link type="text/css" rel="stylesheet" href="/static/css/dist/jquery.liveSearch.css"> 
    <link type="text/css" rel="stylesheet" href="/static/css/dist/jquery.fancybox-1.3.4.css"> 
    <link type="text/css" href="/static/css/dist/jquery-ui-le-frog/jquery-ui-1.8.14.custom.css" rel="stylesheet" />

    <!-- JS -->
    <script type="text/javascript" src="/static/js/dist/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/dist/jquery.query-2.1.7.js"></script>
    <script type="text/javascript" src="/static/js/dist/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/dist/jquery.liveSearch.js"></script>
    <script type="text/javascript" src="/static/js/dist/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="http://freebaselibs.com/static/suggest/1.3/suggest.min.js"></script>
    <script type="text/javascript" src="/static/js/dist/video.js" charset="utf-8"></script> 
    <script type="text/javascript" src="/static/js/jquery.plebia.js"></script> 
    <script type="text/javascript" src="/static/js/tests/skin.js"></script> 

    <script>
        $(document).ready(function() {
            var skin = $.query.get('skin');
            if(skin !== '') {
                $.plebia.skin(skin, $('.plebia'));
            } else {
                setTimeout(function () {
                    $('.plebia').plebia();
                }, 0);
            }
        });
    </script>

</head>

<body> 
    <div class="plebia">
        <!-- Header & Searchbox ---------------------------------------------------------->
        <div class="plebia_header">
            <div class="plebia_center">
                <img class="plebia_logo" src="/static/img/logo.png" />

                To add a series, enter its name:<br />
                <input class="plebia_name"></input>
                <img class="plebia_search" src="/static/img/search.png" />
                
                <p><b>Warning</b>: videos can only be watched with Chromium/Chrome for now.</p>
            </div>
        </div>

        <div class="plebia_columns">

            <div class="plebia_column_left">
                &nbsp;
            </div> <!-- End 'plebia_column_left' -->

            <div class="plebia_column_center">
                <h2>Stream</h2>

                <div class="plebia_stream">
                    <input type="hidden" class="plebia_api_url" value="" />
                </div>

                <!-- Templates ---------------------------------------------------------->
                <div class="plebia_template plebia_no_display">

                    <!-- Post ------------------------------------------------------>
                    <div class="plebia_post_template">
                        <!-- Related API object -->
                        <input type="hidden" class="plebia_api_url" value="" />
                        
                        <img src="/static/img/avatar.jpg" class="plebia_user_avatar" />
                        <div class="plebia_user_name">Xavier Antoviaque</div> -
                        <div class="plebia_post_time"></div>
                        
                        <div class="plebia_post_content">

                            <div class="plebia_series"></div>
                        </div>
                    </div>

                    <!-- Series --------------------------------------------------->
                    <div class="plebia_series_template">
                        <!-- Related API objects -->
                        <input type="hidden" class="plebia_api_url" value="" />

                        <!-- Poster -->
                        <img class="plebia_poster" src="javascript://" />

                        <!-- Title & watch next -->
                        <div class="plebia_content_right">
                            <div class="plebia_name"></div>
                            <a class="plebia_watch_next" href="javascript://">
                                <img class="plebia_play" src="/static/img/play.png" />
                                Watch next: Season <span class="plebia_season_nb">2</span> Episode <span class="plebia_episode_nb">3</span>
                            </a>

                            <!-- Overview -->
                            <div class="plebia_overview"></div>
                        </div>

                        <!-- Episodes tab -->
                        <div class="plebia_episode_menu">
                            <a class="plebia_trigger" href="javascript://">Episodes</a>
                            <div class="plebia_season_list plebia_no_display"></div>
                        </div> <!-- End episodes tab -->
                    </div>

                    <!-- Season --------------------------------------------------->
                    <div class="plebia_season_template">
                        <!-- Related API object -->
                        <input type="hidden" class="plebia_api_url" value="" />

                        <div class="plebia_season_title">Season <span class="plebia_number"></span></div>
                    </div>

                    <!-- Episode (small) ------------------------------------------>
                    <div class="plebia_episode_small_template">
                        <!-- Related API object -->
                        <input type="hidden" class="plebia_api_url" value="" />

                        <a class="plebia_episode_link" href="javascript://">
                            <div class="plebia_number">00</div>
                            <div class="plebia_state"></div>
                            <div class="plebia_description">
                                <div class="plebia_title">Title</div>
                                <div class="plebia_overview">Overview</div>
                            </div>
                        </a>
                    </div>
                        
                    <!-- Episode (small) - States ---------------------------------->
                    <div class="plebia_episode_small_states">
                        <!-- Episode STATE: 'all_ready' +watched -->
                        <div class="plebia_episode_all_ready">
                            <img class="plebia_thumb" src="javascript://" />
                            <img class="plebia_play" src="/static/img/play.png" />
                            <img class="plebia_ok" src="/static/img/ok.png" />
                        </div>

                        <!-- Episode STATE: 'all_ready' +new -->
                        <div class="plebia_episode_all_ready_new">
                            <img class="plebia_thumb" src="javascript://" />
                            <img class="plebia_play" src="/static/img/play.png" />
                            <img class="plebia_new" src="/static/img/new.png" />
                        </div>

                        <!-- Episode STATE: 'transcoding_not_ready' -->
                        <div class="plebia_episode_transcoding_not_ready">
                            <img src="/static/img/download.png" class="plebia_download"/><br />
                            <img src="/static/img/wait.png" class="plebia_wait" /><br />
                        </div>
                                    
                        <!-- Episode STATE: 'error' -->
                        <div class="plebia_episode_error">
                            <img src="/static/img/error.png" class="plebia_error"/><br />
                        </div>

                        <!-- Episode STATE: 'downloading' -->
                        <div class="plebia_episode_downloading">
                            <div class="plebia_percent"><span class="plebia_percent_value"></span>%</div>
                            <div class="plebia_progress_bar"></div>
                            <div class="plebia_eta"><span class="plebia_eta_value"></span></div>
                        </div>

                        <!-- Episode STATE: 'not_started' -->
                        <div class="plebia_episode_not_started">
                            <div class="plebia_start">Start >></div>
                            <div class="plebia_progress_bar"></div>
                        </div>
                    </div>

                    <!-- Watchbox --------------------------------------------------->
                    <div id="plebia_watchbox" class="plebia_watchbox">
                        <!-- Series name -->
                        <div class="plebia_series_title"></div>

                        <!-- Video & prev/next -->
                        <a class="plebia_previous" href="javascript://"><img class="plebia_previous" src="/static/img/previous.png" /></a>
                        <div class="plebia_state"></div>
                        <a class="plebia_next" href="javascript://"><img class="plebia_next" src="/static/img/next.png" /></a>

                        <!-- Title & overview -->
                        <div class="plebia_description">
                            <div class="plebia_title">
                                <span class="plebia_name"></span> - 
                                Season <span class="plebia_season_nb"></span>
                                Episode <span class="plebia_episode_nb"></span>
                            </div> 
                            <div class="plebia_overview"></div>
                        </div>
                    </div>

                    <!-- Watchbox states ------------------------------------------->
                    <div class="plebia_watchbox_states">
                        <!-- STATE: searching -->
                        <div class="plebia_watchbox_searching">
                            <div class="plebia_info">
                                Searching for video...
                                &nbsp;<img src="/static/img/loading.gif" class="plebia_loading_icon" />
                            </div>
                        </div>

                        <!-- STATE: downloading -->
                        <div class="plebia_watchbox_downloading">
                            <div class="plebia_info">
                                <span class="plebia_info_msg"></span>
                                <span class="plebia_info_progress">
                                    (<span class="plebia_percent"></span>% done, 
                                    <span class="plebia_eta"></span> left)
                                </span>
                                &nbsp;<img src="/static/img/loading.gif" class="plebia_loading_icon" />
                            </div>
                            <div class="plebia_progress_bar"></div>

                            <a class="plebia_more" href="javascript://">More details...</a>
                            <div class="plebia_download_details">
                                <div class="plebia_torrent_name">Torrent name: <span class="plebia_value"></span></div>
                                <div class="plebia_torrent_type">Type: <span class="plebia_value"></span></div>
                                <div class="plebia_torrent_seeds">Seeds: <span class="plebia_value"></span></div>
                                <div class="plebia_torrent_peers">Peers: <span class="plebia_value"></span></div>
                                <div class="plebia_torrent_download_speed">Download speed: <span class="plebia_value"></span></div>
                                <div class="plebia_torrent_upload_speed">Upload speed: <span class="plebia_value"></span></div>
                            </div>
                        </div>
                        
                        <!-- STATE: transcoding_not_ready -->
                        <div class="plebia_watchbox_transcoding_not_ready">
                            <div class="plebia_info">
                                Video successfully retreived! You can:
                                <div>
                                    <div class="plebia_download">
                                        <a href="#" class="video_link">
                                            <img src="/static/img/download.png" class="plebia_download_icon"/><br />
                                            Download it to your computer
                                        </a>
                                    </div>
                                    or
                                    <div class="plebia_wait">
                                        <img src="/static/img/wait.png" class="plebia_wait_icon" /><br />
                                        Wait for the streaming to become ready (currently converting the video)
                                    </div>
                                </div>
                                <div class="clear_both"></div>
                            </div>
                        </div>
                        
                        <!-- STATE: transcoding_ready -->
                        <div class="plebia_watchbox_transcoding_ready">
                            <div class="video-js-box vim-css"> 
                                <video class="video-js" width="640" height="360" controls="controls" preload="auto" poster=""> 
                                    <source type='video/webm; codecs="vp8, vorbis"' />
                                </video> 
                                <p class="vjs-no-video"><strong>Download Video:</strong> 
                                    <a href="#">WebM</a>
                                </p> 
                            </div> 
                            <div class="plebia_video_transcoding_in_progress"><img src="/static/img/loading.gif" /> This video is still being converted. You will only be able to pause, resume or move it forward/backward when this is completed.</div>
                            <div class="plebia_video_transcoding_done"><img src="/static/img/ok.png" /> Video conversion done! <a href="javascript://">Refresh</a> the video if you need to pause, resume or move it forward/backward.</div>
                        </div>
                        
                        <!-- STATE: all_ready -->
                        <div class="plebia_watchbox_all_ready">
                            <div class="video-js-box vim-css"> 
                                <video class="video-js" width="640" height="360" controls="controls" preload="none" poster=""> 
                                    <source type='video/webm; codecs="vp8, vorbis"' />
                                </video> 
                                <p class="vjs-no-video"><strong>Download Video:</strong> 
                                    <a href="#">WebM</a>
                                </p> 
                            </div> 
                        </div>
                        
                        <!-- STATE: error -->
                        <div class="plebia_watchbox_error">
                            <div class="plebia_torrent_not_found">
                                <img src="/static/img/monster.jpg" class="plebia_monster_icon" />
                                <div class="plebia_torrent_not_found_msg">I'm sorry, I couldn't find your video : (<br />But try to enter another one, I'll go get it! :D</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div> <!-- End 'plebia_column_center' -->

            <div class="clear_both"></div>

            <div class="plebia_footer">
                Media server powered by
                <a href="http://plebia.org/">plebia</a>
                (with the help of
                <a href="http://videojs.com">video.js</a>,
                <a href="http://deluge-torrent.org/">deluge</a>,
                <a href="http://www.ffmpeg.org/">ffmpeg</a>,
                <a href="http://torrentz.eu/">torrentz</a>,
                <a href="http://www.thetvdb.com/">thetvdb</a> and
                <a href="https://www.djangoproject.com/">django</a>)
            </div>
    
        </div> <!-- End 'plebia_columns' -->
      
    </div> <!-- End 'plebia' -->

</body>
</html>
