{% for series in series_list %}
    <div class="plebia_result">
        <input class="plebia_series_id" type="hidden" value="{{ series.id }}"></input>
        <a class="plebia_name" href="javascript://">
            <img class="plebia_banner_small" src="/static/banner.php?file_path={{ series.banner_url }}" />
            {{ series.name }}
        </a>
        <div class="clear_both"></div>
    </div>
{% endfor %}
<script>
    $('#jquery-live-search .plebia_result a').click(function(ev) {
        ev.preventDefault();
        $('#jquery-live-search').hide();

        var result_dom = $(this).parent();
        var series_id = $('input.plebia_series_id', result_dom).val();
        $('.plebia').plebia_post_to_stream(series_id);
    });
</script>

