{% extends "base.html" %}

    {% block js_head %}
    {% endblock %}

    {% block header %}
    {% endblock %}

    {% block content %}
                <h2>Page not found</h2>

                <div class="plebia_stream">
                    <p>Ooops. Maybe try to go back to the <a href="/">home page</a>?</p>

                    <p>Also, it would help if you could <a href="http://tickets.farsides.com/projects/plebia/issues/new">let us know</a> how this happened, so we can fix it. Thanks!</p>
                </div>
    {% endblock %}


